@import "@/styles/variables.scss";

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-gray;
}

.icon {
  width: 100px;
  color: $water-mark;
}
