$orange-1: #fff7e6;
$orange-2: #ffe7ba;
$orange-3: #ffd591;
$orange-4: #ffc069;
$orange-5: #ffa940;
$orange-6: #fa8c16;
$orange-7: #d46b08;
$orange-8: #ad4e00;
$orange-9: #873800;
$orange-10: #612500;

$base-1: $orange-1;
$base-2: $orange-2;
$base-3: $orange-3;
$base-4: $orange-4;
$base-5: $orange-5;
$base-6: $orange-6;
$base-7: $orange-7;
$base-8: $orange-8;
$base-9: $orange-9;
$base-10: $orange-10;

$primary: $orange-6;
$water-mark: $orange-1;
