$orange-1: #fff7e6;
$orange-2: #ffe7ba;
$orange-3: #ffd591;
$orange-4: #ffc069;
$orange-5: #ffa940;
$orange-6: #fa8c16;
$orange-7: #d46b08;
$orange-8: #ad4e00;
$orange-9: #873800;
$orange-10: #612500;

$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;

$base-1: $orange-1;
$base-2: $orange-2;
$base-3: $orange-3;
$base-4: $orange-4;
$base-5: $orange-5;
$base-6: $orange-6;
$base-7: $orange-7;
$base-8: $orange-8;
$base-9: $orange-9;
$base-10: $orange-10;

$primary: $orange-6;
$water-mark: $orange-2;
$primary-dark: #001529;


$border-gray: $gray-5;
$text-color: $primary-dark;

$bg-gray: $gray-2;

$hover-bg-gray: $gray-3;
$hover-bg-primary: $orange-1;

$selected-bg-gray: $gray-5;
$selected-bg-primary: $orange-4;
