@import "@/styles/variables.scss";

.contentDetailWrapper {
  display: flex;
  flex-direction: column;
  background-color: $bg-gray;
  color: $text-color;
}

.header {
  padding: 32px 40px;
  display: flex;
  gap: 32px;
  align-items: center;
  background-color: $primary-dark;
  color: $gray-1;
  .headerLeft {
    flex-shrink: 0;
    .headerImage {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  }
  .headerRight {
    flex-grow: 1;
    font-weight: bold;
    font-size: 56px;
  }
}

.content {
  padding: 32px;
  flex-grow: 1;
  overflow: scroll;
  .section {
    background-color: $gray-1;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.01);
    &:not(:first-child) {
      margin-top: 32px;
    }
    .sectionTitle {
      font-weight: bold;
    }
    .sectionCard {
    }
  }
}

.recordsWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 12px;
  width: 100%;
}

.recordWrapper {
  display: flex;
  align-items: center;
  &:not(:first-child) {
    margin-top: 12px;
  }
  .recordLabel {
    width: 120px;
    margin-right: 16px;
    color: $gray-7;
  }
  .recordValue {
  }
}

@media screen and (max-width: 1400px) {
  .recordWrapper {
    &.halfRecord {
      width: 100%;
    }
    &.fullRecord {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1400px) {
  .recordWrapper {
    &.halfRecord {
      width: 50%;
    }
    &.fullRecord {
      width: 100%;
    }
  }
}

.episodesTable {
  width: 100%;
}
